<div class="d-flex justify-content-center pb-3">
    <h2>Welcome to your dashboard, {{username}}!</h2>
</div>

<div class="d-flex justify-content-center">
    <a href="/dashboard/newpost" class="new-post">Add New Post</a>
</div>
{{#if posts.length}}
{{#each posts as |post| }}
<a class="no-link" href="/dashboard/edit/{{post.id}}">
    <div class="d-flex flex-row justify-content-between self-post mt-3 pt-3 ps-3 pe-3">
        <p>{{post.title}}</p>
        <p>{{format_date post.date_created}}</p>
    </div>
</a>
{{/each}}
{{/if}}